/*-------- Universal selector --------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*-------- The main content section bg-color is white --------*/
body {
    background-color: #d9dcd6;
}

/*------------------ Header --------------------*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*-------- Size and display of the header "Horiseon" --------*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*-------- Changes part of the color in the header "seo" --------*/
.header h1 .seo {
    color: #d9dcd6;
}

/*-------- This are the attributes for the other options in the header Ex: Social Media Marketing & Online Reputation Management --------*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*-------- Cancels the list display for the header options --------*/
.header nav ul {
    list-style-type: none;
}

/*-------- This makes the options on the right of the header appear side by side --------*/
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*----------- a (all hyperlinks) & p (all paragraphs) ------------------- */
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/*------------- Below the header display img ------------*/

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*--------- Floats Positioning of content images ------------*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/*----------- This class 'content' is for the column on the right of the main information Ex: Lead Generation, Brand Awareness & Cost Management --------------*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*------------------- Search Engine Optimazation ----------------------*/

/*-------- Content box for S.E. --------*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*-------- Size display for the image --------*/
.search-engine-optimization img {
    max-height: 200px;
}

/*-------- Size and space for header --------*/
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}


/*--------------- Online Reputation Management -----------------*/

/*-------- Content box for O.R.--------*/
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*-------- Size display for the image --------*/
.online-reputation-management img {
    max-height: 200px;
}

/*-------- Size and space for header --------*/
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*----------------------------- Social Media Marketing -------------------*/

/*---- This is the background box for S.M.M. ----*/
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*-------- Size display for the image --------*/
.social-media-marketing img {
    max-height: 200px;
}

/*-------- Size and space for header --------*/
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*--------------------- Benefits right column -----------------------*/

/*-------- This is the column box on the right --------*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*------------------ Benefit Lead -------------------------*/

/*-------- Color and space for info --------*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/*-------- Size and alignment for header --------*/
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*-------- Size display for the image --------*/
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*--------------------- Benefit Brand ------------------*/

/*-------- Color and space for info --------*/
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

/*-------- Size and alignment for header --------*/
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*-------- Size display for the image --------*/
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*------------------------ Benefit Cost -------------------------*/

/*-------- Color and space for info --------*/
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/*-------- Size and alignment for header --------*/
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*-------- Size display for the image --------*/
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*------------- Footer --------------*/

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*-------- text size for footer header --------*/
.footer h2 {
    font-size: 20px;
}
